<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>B4C72BCA-55FE-4844-86FE-3AEFB8386C97</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C89320F4-3E55-42FC-B4EB-0C60D8FACB43</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C7B7129B-0026-4D5D-B65A-AB02BDACB732</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D5371CCE-20BB-4257-895E-5A7DDD8A3971</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D5371CCE-20BB-4257-895E-5A7DDD8A3971</key>
		<array/>
		<key>DFD1C59A-4DFE-4456-9810-64C369DC8FA9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D5371CCE-20BB-4257-895E-5A7DDD8A3971</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Ariel Barreiro</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Dynamic folder file action</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>ff</string>
				<key>scopes</key>
				<array/>
				<key>types</key>
				<array/>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>DFD1C59A-4DFE-4456-9810-64C369DC8FA9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>name=`basename {query}`
if [ -d "{query}" ]
then
  perl -i -0pe "s@&lt;string&gt;::.*?&lt;/string&gt;.*?&lt;/array&gt;@&lt;string&gt;::&lt;/string&gt;\n&lt;key&gt;scopes&lt;/key&gt;\n&lt;array&gt;\n&lt;string&gt;{query}&lt;/string&gt;\n&lt;/array&gt;@s" info.plist
  osascript -e 'tell app "Alfred 2" to search ":: "'
fi</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D5371CCE-20BB-4257-895E-5A7DDD8A3971</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>::</string>
<key>scopes</key>
<array>
<string>~</string>
</array>
				<key>types</key>
				<array/>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>C7B7129B-0026-4D5D-B65A-AB02BDACB732</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<false/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Default ff action</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>B4C72BCA-55FE-4844-86FE-3AEFB8386C97</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict/>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>C89320F4-3E55-42FC-B4EB-0C60D8FACB43</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>B4C72BCA-55FE-4844-86FE-3AEFB8386C97</key>
		<dict>
			<key>ypos</key>
			<real>320</real>
		</dict>
		<key>C7B7129B-0026-4D5D-B65A-AB02BDACB732</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>C89320F4-3E55-42FC-B4EB-0C60D8FACB43</key>
		<dict>
			<key>ypos</key>
			<real>320</real>
		</dict>
		<key>D5371CCE-20BB-4257-895E-5A7DDD8A3971</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>DFD1C59A-4DFE-4456-9810-64C369DC8FA9</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
